@import "tailwindcss";

@theme {
    --color-kpi-morado: #beaed8;
    --color-kpi-azul: #77a9d4;
}

#toast-container > div,
#toast-container > .toast,
.toast-success,
.toast-error,
.toast-info,
.toast-warning {
    border-radius: 16px !important;
    overflow: hidden !important;
}

.toast-progress {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

