@import "tailwindcss";
/* main.css */

.apexcharts-canvas {
  transition: opacity 0.2s ease;
}

/* MODO CLARO */

:root {

  
  /* Sidebar */
  --sidebar-bg:        #3f2a52;
  --sidebar-text:      #e2e8f0;   
  --sidebar-active-bg: #beaed8;
  --sidebar-active-text: #3f2a52;
  --sidebar-hover-bg:  #beaed8;
  --tsidebar-hover-tex: #3f2a52;

   
  /* boton */
  --botton-n2:          #beaed8;
  --botton-on:           #beaed8;
  --botton-off:          #3f2a52;

  /* Navbar */
  --navbar-bg:         #ffffff;
  --navbar-border:     #e5e7eb;  
  --navbar-icon:       #3f2a52;

    /* Encabezado */
  --text-encabezado: #3f2a52;
  --subtext-encabezado: oklch(20.8% 0.042 265.755);

  /* Texto en general: tablas, cards, filtros */
  --text-general:      #1f2937;
  --subtext-general:   oklch(37.2% 0.044 257.287);

  /* Graficas */
  --grafics-bg: #3f2a52;
  --grafics-border: #3f2a52;

  /* Layout / fondo principal */
  --layout-bg:         #f9fafb;   
  --layout-text:       #1f2937;  

  /* Acento de marca */
  --color-kpi-morado:  #beaed8;
  --color-kpi-azul:    #77a9d4;

  /* Tarjetas y superficies */
  --card-bg:           #ffffff;
  --card2-bg:          #3f2a52;
  --card2-text:        #9ca3af;
  --card-estado:        #0ce27bee;   
  --card-text:         #3f2a52; 
  --card-text-muted:   #6b7280;  
  --card-text-hint:    #9ca3af;   
  --card-border:       #f3f4f6;   

  /* Tablas */
  --tabla-bg:          #ffffff;
  --tabla-header-bg:   #f9fafb;  
  --tabla-header-text: #6b7280;  
  --tabla-borde:       #e5e7eb;   
  --tabla-hover:       rgba(63, 42, 82, 0.08);

  /* Inputs / selects */
  --input-bg:          #ffffff;
  --input-text:        #374151;   
  --input-border:      #e2e8f0;   
}

/* MODO OSCURO */

.dark {

  /* Sidebar */
  --sidebar-bg:         #23182c;  
  --sidebar-text:       #cbd5e1;  
  --sidebar-active-bg:  #6d4e8a;
  --sidebar-active-text: #f1e9ff;
  --sidebar-hover-bg:   #6d4e8a;
  --sidebar-hover-text: #f1e9ff;
  --botton-n2:          #1e1327;

  /* Navbar */
  --navbar-bg:          #1f2937;  
  --navbar-border:      #374151;  
  --navbar-icon:        #beaed8;

   /* Texto en general: tablas, cards, filtros */
  --text-general: #e2e8f0;
  --subtext-general: oklch(86.9% 0.022 252.894);

  /* Encabezado */
  --text-encabezado: #beaed8;
  --subtext-encabezado: oklch(81.1% 0.111 293.571);

   /* Graficas */
  --grafics-bg: #1e1327;
  --grafics-border: #beaed8;

  /* Layout / fondo principal */
  --layout-bg:          #111827;  
  --layout-text:        #f9fafb;  

  /* Acento de marca */
  --color-kpi-morado:   #beaed8;
  --color-kpi-azul:     #77a9d4;

  /* Tarjetas y superficies */
  --card-bg:           #1f2937;
  --card2-bg:          #6d4e8a;
  --card2-text:        #e2e8f0; 
  --card-estado:       #06ff87ee;    
  --card-text:         #9ca3af;   
  --card-text-muted:   #9ca3af;   
  --card-text-hint:    #6b7280; 
  --card-border:       #374151;  

  /* Texto tablas y cards */
  --text-general: #e2e8f0;
  --subtext-general: oklch(86.9% 0.022 252.894);
   /* Tabla */
  --tabla-bg:          #1f2937;
  --tabla-header-bg:   #111827;  
  --tabla-header-text: #9ca3af;   
  --tabla-borde:       #374151;  
  --tabla-hover:       rgba(190, 174, 216, 0.08);

  /* Inputs / selects */
  --input-bg:          #374151;
  --input-text:        #e5e7eb;  
  --input-border:      #4b5563;   
}

#toast-container > div,
#toast-container > .toast,
.toast-success,
.toast-error,
.toast-info,
.toast-warning {
  border-radius: 16px !important;
  overflow: hidden !important;
}

.toast-progress {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.sidebar-link {
  color: var(--sidebar-text);
}

.sidebar-link:hover {
  background-color: var(--sidebar-hover-bg);
  color: var(--sidebar-hover-text);
}

.router-link-active.sidebar-link {
  background-color: var(--sidebar-active-bg);
  color: var(--sidebar-active-text);
}